/*form{
    padding:30px 50px;
  }
  *l/

  form h2 {margin-top:0px;}

  dl dt{
    width: 165px;
    padding:10px 0;
    float:left;
    clear:both;
  }
  
  dl dd{
    padding:10px 0;
  }

  /*
  参考：https://qiita.com/chousensha01/items/ed29dd22a022aed058d9
  */


  h1{display: inline;}

 h2{display: inline;}